/* #frankie-player {
  position: absolute;
  top: 0;
  justify-self: center;
  display: block;
  width: 100%;
} */

#artist-bio, #users, #hashtags, #comments, #related {
  display: inline-block;
}

#comments {
  position: absolute;
  left: 15%;
}

#related {
  position: absolute;
  right: 0;
  width: 50%;
}

.tracks-title {
  position: absolute;
  right: 0;
  top: 50%;
  width: 50%;
  display: inline-block;
  color: #999;
  font-size: 14px;
  line-height: 5px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
}